
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/Account/_RegisterLayout.cshtml";
}


@*<div class="row pt-4">
    <div class="col-md-7">
        <h1>@ViewData["Title"]</h1>
        <form asp-action="Account/Identity/Register" class = "row" method="post" role="form">
            <h5>Create a new account.</h5>
            <hr />
            <div class="form-floating py-2 col-6">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input name="FirstName" class="form-control" required>
            </div>

            <div class="form-floating py-2 col-6">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input name="LastName" class="form-control" required>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="StreetAddress" class="control-label">Street Address</label>
                <input name="StreetAddress" class="form-control" required>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="City" class="control-label">City</label>
                <input name="City" class="form-control" required>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="State" class="control-label">State</label>
                <input name="State" class="form-control" required>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="PostalCode" class="control-label">Postal Code</label>
                <input name="PostalCode" class="form-control" required>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="PhoneNumber" class="control-label">PhoneNumber</label>
                <input name="PhoneNumber" class="form-control" required>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="EmailAddress" class="control-label">Email Address</label>
                <input name="EmailAddress" class="form-control" type="email" required>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="@Model.Role"></label>
                <select name="@Model.Role" asp-for="@Model.Role" asp-items="@Model.RoleList" class="form-select">
                    <option disabled selected>--Select Role--</option>
                </select>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="Password" class="control-label">Password</label>
                <input type="Password" name="Password" class="form-control" required>
            </div>
            <div class="form-floating py-2 col-6">
                <label asp-for="Password" class="control-label">Password</label>
                <input type="Password" name="Password" class="form-control" required>
            </div>

            <div class="form-floating py-2 col-6">
                <label asp-for="ConfirmPassword" class="control-label">ConfirmPassword</label>
                <input type="Password" name="ConfirmPassword" class="form-control" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success w-100 bg-dark">Sign Up</button>
            </div>
        </form>
    </div>
</div>*@